/* Custom Style */
body {
    overflow-x: hidden;

}
.offcanvas {
    --bs-offcanvas-height: 75vh;
}
.scrollToTop {
    padding: 10px;
    color: #444;
    position: fixed;
    bottom: 20px;
    right: 20px;
    /*display: none;*/
    z-index: 99;
}
.slider {
    width: 80%;
    margin: 0 auto;
}
.slider img {
    width: 100%;
    height: auto;
    cursor: pointer; /* Thêm con trỏ khi di chuột qua ảnh */
}
.irs-with-grid .irs-grid {
    display: none !important;
}
.owl-item.active.center h5, .owl-item.active.center span {
    color: #000;
}
@media screen and (max-width: 1023px) {
    #myCarousel .carousel-item img {
        height: auto !important;
    }
}
/*@media screen and (max-width: 768px) {*/
/*    .offcanvas {*/
/*        --bs-offcanvas-height: 50vh;*/
/*    }*/
/*}*/
