<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Upload Image</title>
</head>
<body>


<th:block th:if="${#lists.size(images) > 0}">
    <h2>List Image</h2>
    <div th:each="image : ${images}">
        <img th:src="'data:image/jpeg;base64,' +  ${image}" alt="Image"/>
    </div>
</th:block>
<h2>Upload Image</h2>
<form method="post" th:action="@{/house/upload}" th:object="${houseRequest}" enctype="multipart/form-data">
    <span>image:  </span><input type="file" id="image" name="image" /><br/><br/>
    <span>title:  </span><input type="text" id="title" name="title" /><br/><br/>
    <span>price:  </span><input type="number" id="price" name="price" /><br/><br/>
    <span>description:  </span><textarea id="description" name="description"></textarea><br/><br/>
    <span>houseLength:  </span><input type="number" id="houseLength" name="houseLength" /><br/><br/>
    <span>houseWidth:  </span><input type="number" id="houseWidth" name="houseWidth" /><br/><br/>
    <span>dowload:  </span><input type="submit" value="Upload"/>
</form>

</body>
</html>