<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>CKEditor 5 with Thymeleaf</title>
    <!--    <script src="https://cdn.tiny.cloud/1/API_KEY/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>-->
    <script src="https://cdn.tiny.cloud/1/ee8wtxm0kizhotq4ha5x7fxvxw5eucyaieqs1wgavzfxmzt9/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>
</head>
<body>
<h2>CKEditor 5 with Thymeleaf</h2>
<!--<form th:action="@{/admin/save-house}" method="post" th:object="${houseDTO}" enctype="multipart/form-data">-->
<!--    <textarea id="description" name="description"></textarea>-->
<!--    <input id type="file" name="image">-->
<!--    <button type="submit">Save</button>-->
<!--</form>-->
<a href="/perform_logout">Logout</a>
<form th:action="@{/admin/save-house}" method="post" th:object="${houseDTO}" enctype="multipart/form-data" class="mt-4">
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title" name="title" >
    </div>
    <div class="form-group">
        <label for="price">Price</label>
        <input type="number" class="form-control" id="price" name="price" >
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <textarea class="form-control" id="description" name="description" ></textarea>-->
    </div>
    <div class="form-group">
        <label for="houseLength">House Length</label>
        <input type="number" class="form-control" id="houseLength" name="houseLength" >
    </div>
    <div class="form-group">
        <label for="houseWidth">House Width</label>
        <input type="number" class="form-control" id="houseWidth" name="houseWidth" >
    </div>
    <div class="form-group">
        <label for="image">Image House</label>
        <input type="file" class="form-control" id="image" name="image" >
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>


<script th:inline="javascript">
    tinymce.init({
        selector: 'textarea#description',
        plugins: 'preview importcss searchreplace autolink autosave save directionality code visualblocks visualchars fullscreen image link media codesample table charmap pagebreak nonbreaking anchor insertdatetime advlist lists wordcount help charmap quickbars emoticons accordion',
        editimage_cors_hosts: ['picsum.photos'],
        menubar: 'file edit view insert format tools table help',
        toolbar: "undo redo | accordion accordionremove | blocks fontfamily fontsize | bold italic underline strikethrough | align numlist bullist | link image | table media | lineheight outdent indent| forecolor backcolor removeformat | charmap emoticons | code fullscreen preview | save print | pagebreak anchor codesample | ltr rtl",
        autosave_ask_before_unload: true,
        autosave_interval: '30s',
        autosave_prefix: '{path}{query}-{id}-',
        autosave_restore_when_empty: false,
        autosave_retention: '2m',
        image_advtab: true ,
        images_upload_handler: function (blobInfo) {
            return new Promise(function (resolve, reject) {
                var formData = new FormData();
                formData.append('image', blobInfo.blob(), blobInfo.filename());

                fetch('/api/upload', {
                    method: 'POST',
                    body: formData
                })
                    .then(function (response) {
                        if (!response.ok) {
                            throw new Error('Image upload failed');
                        }
                        return response.text();
                    })
                    .then(function (imageUrl) {
                        resolve(imageUrl);
                    })
                    .catch(function (error) {
                        reject(error.message);
                    });
            });
        },
    });



</script>

</body>
</html>