<!-- Header Block Start -->
<header id="site-header">
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
        <div class="container">
            <a class="navbar-brand fw-bold" href="/front/index"><i class="fa-regular fa-building"></i> Thuê Nhà Giá Rẻ</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav  mx-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="index.html">Trang chủ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="about.html">Về chúng tôi</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="services.html">Dịch vụ</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Pages</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="404.html">404 Page</a></li>
                            <li><a class="dropdown-item" href="page.html">Common Page</a></li>
                            <li><a class="dropdown-item" href="faqs.html">FAQ Page</a></li>
                            <li><a class="dropdown-item" href="hero.html">Hero Page</a></li>
                            <li><a class="dropdown-item" href="single.html">Single Page</a></li>
                            <li><a class="dropdown-item" href="works.html">Work Page</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="blog.html">Nhà</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="contact.html">Liên hệ</a>
                    </li>
                </ul>
                <div class="d-flex">
                    <button class="btn btn-sm btn-outline-light" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasTop" aria-controls="offcanvasTop"><i class="fa-solid fa-magnifying-glass"></i> Tìm Kiếm</button>
                </div>
            </div>
        </div>
    </nav>
    <div class="offcanvas offcanvas-top" tabindex="-1" id="offcanvasTop" aria-labelledby="offcanvasTopLabel">
        <div class="container py-5">
            <h2 class="fw-bold pb-2">Tìm kiếm</h2>
            <form class="position-relative" action="#" method="post">
                <input type="text" class="form-control" id="findBy" placeholder="Ví dụ: theo khu vực, giá tiền, diện tích, chiều dài, chiều rộng...">

                <div class="container mt-3">
                    <div class="row align-items-center">
                        <div class="col-lg-8 col-sm-4 "><div style="margin-top: revert"><input class="form-check-input" style="margin-right: 0.5rem" type="checkbox" value="false" id="isSearchPrice"><span>Giá:</span></div></div>
                        <div class="col-lg-4 col-sm-8"><input type="text" id="range-slider"></div>
                    </div>
                    <div class="row align-items-center  mt-3">
                        <div class="col-lg-8 col-sm-4 "><div style="margin-top: revert"><input class="form-check-input" style="margin-right: 0.5rem" type="checkbox" value="false" id="isSearchAddress"><span>Khu vực:</span></div></div>
                        <div class="col-lg-4 col-sm-8"><input class="form-control"></div>
                    </div>
                    <div class="row align-items-center  mt-3">
                        <div class="col-lg-8 col-sm-4  "><div style="margin-top: revert"><input class="form-check-input" style="margin-right: 0.5rem" type="checkbox" value="false" id="isSearchArea"><span>Diện tích:</span></div></div>
                        <div class="col-lg-4 col-sm-8"><input class="form-control"></div>
                    </div>
                    <div class="row align-items-center  mt-3">
                        <div class="col-lg-8 col-sm-4 "><div style="margin-top: revert"><input class="form-check-input" style="margin-right: 0.5rem" type="checkbox" value="false" id="isSearchBedRoom"><span>Số lượng phòng ngủ:</span></div></div>
                        <div class="col-lg-4 col-sm-8"><input class="form-control"></div>
                    </div>
                    <div class="row align-items-center  mt-3">
                        <div class="col-lg-8 col-sm-4 "><div style="margin-top: revert"><input class="form-check-input" style="margin-right: 0.5rem" type="checkbox" value="false" id="isSearchLivingRoom"><span>Số lượng phòng khách:</span></div></div>
                        <div class="col-lg-4 col-sm-8"><input class="form-control"></div>
                    </div>
                    <input type="text" hidden name="minValuePrice" id="minValuePrice">
                    <input type="text" hidden name="minValuePrice" id="maxValuePrice">


                </div>

                <button class="position-absolute top-0 end-0 border-0 bg-transparent py-2 pe-2 text-secondary" type="submit" name="search"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
        </div>
    </div>
</header>